<!-- <form accept-charset="UTF-8" action="/users" method="post">
  Email: <input type="text" name="user[email]"><br>
  Username: <input type="text" name="user[username]"><br>
  Password: <input type="text" name="user[password]"><br>
  <input type="submit" value="Submit">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>



<%= form_tag("/users", method: "post") do %>

	<%= label_tag "Email:" %>
	<%= text_field_tag "user[email]" %><br>

	<%= label_tag "Username:" %>
	<%= text_field_tag "user[username]" %><br>

	<%= label_tag "Password:" %>
	<%= text_field_tag "user[password]" %><br>
  
  	<%= submit_tag 'Submit' %>

<% end %> -->

<%= form_for(@user) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %><br>

  <%= f.label :username %>
  <%= f.text_field :username %><br>

  <%= f.label :password %>
  <%= f.text_field :password %><br>

  <%= f.submit "Submit" %>
<% end %>